@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
  background-color: #e3e3e3;
}

/* STRUCTURE */
.wrapper {
  padding: 5px;
  max-width: auto;
  width: 95%;
  margin: 5px auto;
}

header {
  padding: 0 15px;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}

.column {
  flex: 1;
  border: none;
  margin: 12px;
  padding: 10px;
  background-color: #fff;
}
.column:first-child {
  margin-left: 0;
}
.column:last-child {
  margin-right: 0;
}

.final{
  background-color: white;
  padding: 10px;
}

@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .columns .column:nth-last-child(2) {
    margin-right: 0;
  }
  .columns .column:last-child {
    flex-basis: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}